* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  border: 1px solid #fae8e8;
  display: block;
  margin: 0 auto;

  opacity: 1;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
} 

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
  width: 10%;
}

canvas {
  width: 100%;
  
  object-fit: contain;
  justify-content: center;
}

.form {
  width: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.bg_video{
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: -1000;
}


@media (max-width: 480px) {
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
  }

  canvas {
    width: 100%;
    object-fit: contain;
    justify-content: center;
  }
  
  .form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  
  .bg_video{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    z-index: -1000;
  }
}

@media (max-width: 768px) {

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
  }

  canvas {
    width: 100%;
    object-fit: contain;
    justify-content: center;
  }
  
  .form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  
  .bg_video{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    z-index: -1000;
  }
}

@media (max-width: 1064px) {

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
  }

  canvas {
    width: 100%;
    object-fit: contain;
    justify-content: center;
  }
  
  .form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  
  .bg_video{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    z-index: -1000;
  }
}

@media (max-width: 1366px) {

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
  }

  canvas {
    width: 100%;
    object-fit: contain;
    justify-content: center;
  }
  
  .form {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  
  .bg_video{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    z-index: -1000;
  }
}