* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  border: 1px solid #fae8e8;
  display: block;
  margin: 0 auto;
  opacity: 1;
  background-color: #ffffff;
  padding: 3px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
} 

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
  width: 100%;
}

canvas {
  width: 100%;
  object-fit: contain;
  justify-content: center;
}

.form {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.bg_video{
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  z-index: -1000;
}


@media screen and (max-width: 1366px) and (orientation: landscape) {
  .container {
   height: 100%;
   width: 100%;
 }
 
 canvas {
   width: 100%;
  }
 
 .form {
   width: 28%;
   }
 
 .bg_video{
   height: auto;
   width: auto;
 }
}

@media screen and (max-width: 1280px) and (orientation: landscape) {
  .container {
   height: 100%;
   width: 100%;
 }
 
 canvas {
   width: 100%;
  }
 
 .form {
   width: 30%;
   }
 
 .bg_video{
   height: auto;
   width: auto;
 }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .container {
   height: 100%;
   width: 100%;
 }
 
 canvas {
   width: 100%;
  }
 
 .form {
   width: 48%;
   }
 
 .bg_video{
   height: auto;
   width: auto;
 }
}

@media screen and (max-width: 900px) and (orientation: portrait) {
 .container {
   height: 100%;
   width: 100%;
 }
 
 canvas {
   width: 100%;
  }
 
 .form {
   width: 67%;
   }
 
 .bg_video{
   height: auto;
   width: auto;
 }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .container {
   height: 100%;
   width: 100%;
 }
 
 canvas {
   width: 100%;
  }
 
 .form {
   width: 45%;
   }
 
 .bg_video{
   height: auto;
   width: auto;
 }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
 .container {
   height: 100%;
   width: 100%;
 }
 
 canvas {
   width: 100%;
  }
 
 .form {
   width: 73%;
   }
 
 .bg_video{
   height: auto;
   width: auto;
 }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
  .container {
   height: 100%;
   width: 100%;
 }
 
 canvas {
   width: 100%;
  }
 
 .form {
   width: 45%;
   }
 
 .bg_video{
   height: auto;
   width: auto;
 }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
 .container {
   height: 100%;
   width: 100%;
 }
 
 canvas {
   width: 100%;
  }
 
 .form {
   width: 70%;
   }
 
 .bg_video{
   height: auto;
   width: auto;
 }
}

@media screen and (max-width: 480px) and (orientation: landscape) {
   .container {
    height: 100%;
    width: 100%;
  }
  
  canvas {
    width: 100%;
   }
  
  .form {
    width: 38%;
    }
  
  .bg_video{
    height: auto;
    width: auto;
  }
}

@media screen and (max-width: 480px) and (orientation: portrait) {
  .container {
    height: 100%;
    width: 100%;
  }
  
  canvas {
    width: 100%;
   }
  
  .form {
    width: 85%;
    }
  
  .bg_video{
    height: auto;
    width: auto;
  }
}
